# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# after creating the dotnet files
# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Coverage results
TestResults

# OS-specific files
.DS_Store
Thumbs.db

# Rider/JetBrains IDE files
.idea/
*.sln.iml

# Other settings
.vscode/

# Environment files
.env
